.WeatherIcon {
  display: block;
}

.WeatherInfo h5 {
  font-size: 15px;
}

.WeatherInfo h4 {
  font-weight: 600;
  color: #4d375d;
}

.WeatherInfo h4::first-letter {
  text-transform: capitalize;
}

.WeatherInfo h3 {
  font-size: 45px;
  font-weight: 600;
  color: #4d375d;
}

h2 {
  color: #4d375d;
}

.WeatherInfo ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 10px;
  color: #16697a;
}

.minMaxTemp {
  color: #16a596;
}

.feels-like {
  font-size: 15px;
  margin-top: 8px;
  color: #16a596;
}

.date {
  color: #16a596;
}

.unit {
  font-size: 20px;
  margin-left: 2px;
  position: relative;
  line-height: 1;
  top: -5px;
}

.fa-wind {
  color: blue;
}
