.WeatherIcon {
  display: block;
}

.weather h5 {
  font-size: 15px;
}

.weather ul {
  list-style: none;
}

.weather li {
  text-align: center;
}

.fa-wind {
  color: blue;
}

.card {
  background-color: #ffcda3;
  max-width: 250px;
  max-height: 50px;
  margin: 5px 0px 5px 0px;
}

.unit {
  font-size: 20px;
  margin-left: 2px;
  position: relative;
  line-height: 1;
  top: -5px;
}

.search-form {
  margin: 20px 0px 10px 20px;
}

.form-control {
  border-radius: 15px;
  height: 29px;
}

.weather button {
  position: absolute;
  right: 25px;
  top: 2px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: rgb(213, 231, 233);
}
