.weather button {
  position: absolute;
  right: 25px;
  top: 2px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: rgb(213, 231, 233);
}

.search-form {
  margin: 20px 0px 20px;
}

.form-control {
  border-radius: 15px;
  height: 29px;
}
