.WeatherIcon {
  display: block;
}

h4::first-letter {
  text-transform: capitalize;
}

h5 {
  font-size: 15px;
}

.unit {
  font-size: 20px;
  margin-left: 2px;
  position: relative;
  line-height: 1;
  top: -5px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 10px;
}
